.contribution-graph{

    td{
        font-size: 12px;
        padding: 0;
    }

    tr{
        border-spacing: 0px;
    }

    &-legend{
        margin-left: 20px;
        display: flex;
        column-gap: 5px;
        margin-top: 15px;

        span {
            font-size: 10px;
        }
        
        & >section {
            width: 15px;
            height: 15px;

            &:nth-child(2){
                background-color: #aeaeae;
            }
            &:nth-child(3){
                background-color: #ACD5F2;
            }
            &:nth-child(4){
                background-color: #7FA8C9;
            }
            &:nth-child(5){
                background-color: #527BA0;
            }
            &:nth-child(6){
                background-color: #254E77;
            }
        }
    }
}